<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<meta name="theme-color" content="rgb(48, 0, 82)" />
	</head>
	<body>
		<slot />

<style>
	body{
		  width: 100vw!important;
    overflow-x: hidden!important;

	}
</style>

	</body>
</html>

<style>

</style>
