<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<meta name="theme-color" content="rgb(48, 0, 82)" />
	</head>
	<body>
		<slot />

<style>
	 html, body{
		  width: 100%!important;
          overflow-x: hidden!important;
		  background: red!important;

	}

	 /* html, body {
  overflow-x: hidden;
  width: 100%;
} */
</style>

	</body>
</html>

<style>

</style>
